.main-chat
  .chat__header
    .chat__group
      .chat__group-name test
      .chat__member-name Member : hiro
    .chat__btn 
      = link_to "Edit", "#", class: "chat__btn-edit"
  .chat-log
    .chat-message1
      .chat-message1__name hiro
      .chat-message1__day 2020/06/27/(sat) 18:00
    .chat-message1__text hello
    .chat-message2
      .chat-message2__name hiro
      .chat-message2__day 2020/06/27/(sat) 18:00
    .chat-message2__text hey
  .chat-form
    .message
      .text type a message
      .img
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "file"}
    .send-btn SEND