.side-bar
  .side-header
    .top-items
      .top-items__name hiro
      .top-items__icons
        = link_to "#", class: "top-items__icons__icon" do
          =icon('fas','edit')
        = link_to "#", class: "top-items__icons__icon" do
          =icon('fas','cog')
  .side-group
    .group-list
      .name techcamp
      .message まだメッセージはありません











