.main-chat {
  width: calc(100vw - 300px);
    .chat__header {
      background-color: #ffffff;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .chat__group {
        padding-left: 40px;
        .chat__group-name {
          font-size: 20px;
          color: #333333;
          padding: 35px 0 15px 0;
        }
        .chat__member-name {
          font-size: 12px;
          color: #999999;
          display: flex;
          li {
            display: inline-block;
            padding: 0 5px;
          }
        }
      }
      .chat__btn {
        padding: 28px 40px 28px 0;
        .chat__btn-edit {
          text-decoration: none;
          font-size: 16px;
          color: #38aef0;
          border: 1px solid #38aef0;
          display: block;
          width: 72px;
          line-height: 40px;
          padding: 0 20px;
        }
      }
    }
    .chat-log {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 0 40px;
      .chat-message1 {
        display: flex;
        padding: 35px 0 12px 0;
        &__name {
          font-size: 16px;
          color: #333333;
        }
        &__day {
          font-size: 12px;
          color: #999999;
        }
      }
      .chat-message1__text {
        font-size: 14px;
        color: #434a54;
        padding-bottom: 46px;
      }
    }
    .chat-form {
      background-color: #d2d2d2;
      height: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      .form {
        display: flex;
        width: 100%;
        .message {
          display: flex;
          width: 100%;
          position: relative;
          margin-right: 15px;
          .text {
            height: 50px;
            width: 100%;
            background-color: #ffffff;
            line-height: 50px;
            padding-left: 10px;
          }
          .img {
            position: absolute;
            right: 10px;
            line-height: 50px;
            font-size: 25px;
            .file {
              display: none;
            }
          }
        }
      }
      .send-btn {
        font-size: 16px;
        color: #ffffff;
        background-color: #38aef0;
        padding: 0 30px;
        height: 50px;
        line-height: 50px;
      }
    }
}