.side-bar {
  width: 300px;
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    .top-items {
      width: 260px;
      height: 20px;
      display: flex;
      justify-content: space-between;
        &__name {
          color: #ffffff;
          font-size: 16px;
        }
        &__icons {
          width: 60px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          &__icon {
            color: #ffffff;
            padding-left: 5px;
            text-decoration: underline;
        }
      }
    }
  }
  .side-group {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 0 20px 0 20px;
      .group-list {
        color: #ffffff;
          .name {
            font-size: 15px;
            padding: 20px 0 5px 0;
          }
          .message {
            font-size: 11px;
            padding-bottom: 40px;
          }
    }
  }
}



